<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CRUD Nodejs Express MongoDB</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">CRUD Nodejs Y Mongodb</a>
</nav>
